__pycache__/KALT_config.cpython-39.pyc
get_manifest_test.log
make_channel_list_log.log
__pycache__/KALT_config.cpython-310.pyc
channel_availability_test.log
opc_tlrs.csv
opc_tlrs.csv
opc_tlrs.csv
log/epg_date_test.log
log/channel_availability_test.log.1
opc_tlrs.csv
opc_tlrs.csv
